<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sayit"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MenuLearnActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".MenuPlayActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            >
        </activity>

        <activity
            android:name=".ViewHowToPlayActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Translucent"
            >
        </activity>
        <activity
            android:name=".OptionsPlayGameActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".PlayGamePictureActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".PlayGameNumberActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".ViewDetailKategoriActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            >
        </activity>
        <activity
            android:name=".PopUpActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Translucent"
            >
        </activity>
        <activity
            android:name=".ViewHighScoreActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Translucent"
            >
        </activity>
        <activity
            android:name=".ViewHelpActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.Translucent"
            >
        </activity>
        <activity
            android:name=".MazeGame"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"

            >
        </activity>

        <activity
            android:name=".MazeMenuActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"

            >
        </activity>

    </application>

</manifest>